body {
    background-image: url("https://img.freepik.com/fotos-premium/foto-vista-superior-papeleria-cuadernos-boligrafos-carpeta-clips-lupa-taza-cafe-vasos-sobre-fondo-mesa-madera-aislado-copyspace-derecha_352249-4691.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.book-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

}
@media (max-width:768px) {
    .book {
        width: 300px;
        height: 450px;
    }

}
.title {
    position: relative;
    top: -0px;
    left:50%;
    
    transform: translateX(-50%);
    font-size: 28px;
    color: gold;
    display: flex;
    font-weight: bold;
    text-shadow: 1px 1px 5px black;
    text-align: center;
    margin-top: 20px;
    z-index: 10;
    
}
@media (max-width:480px) {
    .book {
        width: 250px;
        height: 380px;
    }
}
.book {
    position: relative;
    width: 300px;
    height: 400px;
    background-image: url("cover.jpg.jpg");
    position: relative;
    perspective: 1500px;
    z-index: 1;
} 
 .page1,.page2,.page3,.page4,.page5{
background: #eadedeea;
color: black;
z-index: 4;
}
.page1,.page2,.page3,.page4,.page5 {
    width: 100%;
    height: 100%;
    background: #efe7bf;
    border: 2px solid #15043e;
    border-radius: 8px;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    overflow-y: auto;
    transition: transform 2s;
    transform-origin: left;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
}
   .page {
    background: rgb(217, 217, 209);
    color: rgb(207, 142, 14);
    font-weight: bold;
    font-size: 22px;
    z-index: 5;
}
.controls {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
    position: relative;
    top: 100%;
    z-index: 10;
}
button {
    background: #eee;
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s;
   
}


button:hover {
    background: #333;
   
}

.page1 {
background-image: url("cover.jpg.jpg"); 
background-size:100% 100%;  
background-position: center;
background-repeat: no-repeat;
font-size: 30px;
color: gold;
  
 
 
}
    
    




.page2 { background: rgb(236, 145, 48); color: black; z-index: 3; }
.page3 { background: rgb(236, 145, 48); color: black; z-index: 2; }
.page4 { background: rgb(236, 145, 48) ; color: black; z-index: 1; }
.page5 {background:  rgb(11, 14, 207) ;color: black; z-index: 0;}
  .page5 {
    background-image: url("cover.jpg.jpg");
    background-size: calc(100%-30px)auto;
    background-position: center;
    background-repeat: no-repeat;
  } 
@media (max-width:600px) {
    .page1 {
     background-image: url("cover.jpg.jpg"); 
background-size:100% 100%;  
background-position: center;
background-repeat: no-repeat;
font-size: 30px;
color: gold;   
    }
}


